<div class="page-header">
  <h1>Új foglalás</h1>
</div>


<div class="alert alert-info" *ngIf="message != ''">{{message}}</div>

<div class="panel panel-default">
  <div class="panel-heading">Új foglalás leadása</div>
  <form method="post" accept-charset="UTF-8" action="/request/createRequest/">
    <div class="panel-body">
      <div class="form-group">
        <label for="resourceID">Erőforrástípus</label>
        <select [(ngModel)]="selectedResourceType" class="form-control" id="resourceTypeID" name="resourceTypeID" (change)="updateResources()">
          <option value="-1">Válassz típust!</option>
          <option *ngFor="let rt of resouceTypes" [value]="rt">{{rt.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="resourceID">Erőforrás megnevezése</label>
        <select class="form-control" id="resourceID" name="resourceID" [(ngModel)]="request.resource">
          <option *ngFor="let r of resources" [ngValue]="r">{{r.resourceName}}</option>
        </select>
      </div>

      <fieldset>
        <legend>Időpont</legend>
        <div class="form-group">
          <label for="dateFrom">Foglalás kezdete</label>
          <input [(ngModel)]="request.dateFrom" type="datetime" class="form-control" id="dateFrom" name="dateFrom"
                 placeholder="Mikor kezdődik a rendezvény?" value=""/>
        </div>
        <div class="form-group">
          <label for="dateTo">Foglalás vége</label>
          <input [(ngModel)]="request.dateTo" type="datetime" class="form-control" id="dateTo" name="dateTo"
                 placeholder="Meddig tart a rendezvény?"
                 value=""/>
        </div>
      </fieldset>

      <fieldset>
        <legend>Átadás és átvétel</legend>
        <div class="form-group">
          <label for="handleBefore">Átvétel időpontja</label>
          <input [(ngModel)]="request.handleBefore" type="datetime" class="form-control" id="handleBefore"
                 name="handleBefore"
                 placeholder="Mikor hozod vissza a kulcsot / eszközt?" value=""/>
        </div>
        <div class="form-group">
          <label for="handleBefore">Leadás időpontja</label>
          <input [(ngModel)]="request.handleAfter" type="datetime" class="form-control" id="handleAfter" name="handleAfter"
                 placeholder="Mikor hozod vissza a kulcsot / eszközt?" value=""/>
        </div>
      </fieldset>

      <fieldset>
        <legend>Esemény adatai</legend>
        <div class="form-group">
          <label for="eventName">Esemény megnevezése</label>
          <input [(ngModel)]="request.eventName" type="text" class="form-control" id="eventName" name="eventName"
                 placeholder="" value=""/>
        </div>
        <div class="form-group">
          <label for="eventDescription">Esemény leírása</label>
          <textarea [(ngModel)]="request.eventDescription" name="eventDescription" id="eventDescription"
                    class="form-control" rows="3"></textarea>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="comment">Megjegyzés</label>
        <textarea [(ngModel)]="request.comment" name="comment" id="comment" class="form-control" rows="3"></textarea>
      </div>

      <input type="submit" class="btn btn-primary btn-block" (click)="submitRequest()" value="Küldés"/>

    </div>
  </form>
</div>
